{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <title>{% block title %}MovieVibes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    <header class="header">
        <div class="menu-container">
            <img src="{% static 'images/menu.png' %}" class="menu-icono" alt="Menu Icono">
            <nav>
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'lista_generos' %}">Géneros</a>
                <a href="{% url 'lista_directores' %}">Directores</a>
            </nav>
        </div>
        <div class="textos-header">
            <h1>MovieVibes</h1>
            <h2>Descubre las mejores películas a un clic</h2>
        </div>
    </header>

    <main>
        <h2>{{ titulo_pagina }}</h2>
        {% block contenido %} {% endblock %}
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <p>678889865</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>info@moviestore.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Gran Via, 32<br>Bilbao, Spain</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; 2024 MovieStore. Todos los derechos reservados.</h2>
    </footer>
</body>
</html>
