{% extends 'base.html' %}

{% block title %}Lista de Películas{% endblock %}

{% block contenido %}
<div class="movie-list-container">
    <h1 class="titulo-pagina">Lista de Películas</h1>
    <div class="movie-grid">
        {% for pelicula in peliculas %}
            <div class="movie-card">
                <a href="{% url 'detalle_pelicula' pelicula.id %}">
                    <img src="{{ pelicula.portada.url }}" alt="{{ pelicula.titulo }}" class="movie-image">
                    <div class="movie-info">
                        <h3>{{ pelicula.titulo }}</h3>
                        <p><strong>Género:</strong> {{ pelicula.genero.nombre }}</p>
                        <p><strong>Duración:</strong> {{ pelicula.duracion }} minutos</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
