{% extends "base.html" %}

{% block title %}Detalles del Director{% endblock %}

{% block contenido %}
<div class="director-detail-page">
    <!-- Nombre y Mensaje Motivador del Director -->
    <div class="director-header-section">
        <h1 class="director-fullname">{{ director.nombre }}</h1>
        {% if director.mensaje %}
            <p class="director-motivational-message">{{ director.mensaje }}</p>
        {% else %}
            <p class="director-motivational-message">"Un director cuya visión transforma el cine."</p>
        {% endif %}
    </div>

    <!-- Lista de Películas del Director -->
    <div class="movies-list-section">
        <h2 class="director-movies-title">Películas Dirigidas por {{ director.nombre }}</h2>
        <div class="director-movie-cards">
            {% for pelicula in director.pelicula_set.all %}
                <div class="director-movie-card">
                    <a href="{% url 'detalle_pelicula' pelicula.id %}">
                        <img src="{{ pelicula.portada.url }}" alt="{{ pelicula.titulo }}" class="director-movie-image">
                        <h3>{{ pelicula.titulo }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

